profiles {

    local {
        process.executor = 'local'
        process.container = 'oras://ghcr.io/rayhackett/enzymm:latest'
        singularity.enabled = true
        singularity.cacheDir = '/exports/archive/lucid-grpzeller-primary/hackett/software/singularity-cache'
        process.singularityRunOptions = '--cleanenv'
    }

    cluster_lumc {
        process.executor = 'slurm'
        process.clusterOptions = '--constraint E5-4650'
        process.array = 125
        process.queue = 'all'
        process.memory = '16 GB'
        process.time = '120 min'
        process.conda = '/exports/archive/lucid-grpzeller-primary/hackett/software/mamba/envs/matcher'
        process.cpus = 8
        process.container = 'oras://ghcr.io/rayhackett/enzymm:latest'
        singularity.enabled = true
        singularity.cacheDir = '/exports/archive/lucid-grpzeller-primary/hackett/software/singularity-cache'
        process.singularityRunOptions = '--cleanenv'
    }
}
