profiles {

    local {
        process.executor = 'local'
    }

    cluster_lumc {
        process.executor = 'slurm'
        process.array = 125
        process.queue = 'all'
        process.memory = '16 GB'
        process.time = '120 min'
        process.conda = '/exports/archive/lucid-grpzeller-primary/hackett/software/mamba/envs/matcher'
        process.cpus = 8
    }
}
