profiles {

    local {
        process.executor = 'local'
        process.container = 'oras://ghcr.io/rayhackett/enzymm:latest'
        apptainer.enabled = true
        apptainer.cacheDir = '/exports/archive/lucid-grpzeller-primary/hackett/software/apptainer-cache'
        apptainer.autoMounts = true
        apptainer.runOptions = "-B /home/$USER/:/home/$USER"
    }

    cluster_lumc {
        process.executor = 'slurm'
        process.clusterOptions = '--constraint E5-4650'
        process.array = 125
        process.queue = 'all'
        process.memory = '16 GB'
        process.time = '120 min'
        // process.conda = '/exports/archive/lucid-grpzeller-primary/hackett/software/mamba/envs/matcher'
        process.cpus = 8
        process.container = 'oras://ghcr.io/rayhackett/enzymm:latest'
        apptainer.enabled = true
        apptainer.cacheDir = '/exports/archive/lucid-grpzeller-primary/hackett/software/apptainer-cache'
        apptainer.autoMounts = true
        // place structures either in the workdir or specify another dir like so
        // apptainer.runOptions = "-B /home/user/data:/home/user/data -B /other/path:/other/path"
        apptainer.runOptions = "-B /export/archive/lucid-grpzeller-primary/hackett:/export/archive/lucid-grpzeller-primary/hackett"
    }
}
