manifest {
	author = "Raymund Hackett"
	defaultBranch = "main"
	description = "Pipeline to find structural matches between templates and protein structures"
	name = "template_matcher"
	nextflowVersion = ">=22.10.6"
	version = "0.0.1"
}

conda {
    conda.enabled = true
    conda.cacheDir = "/exports/archive/lucid-grpzeller-primary/hackett/software/mamba/envs/"
    conda.useMamba = true
}
