manifest {
    author = "Raymund Hackett"
    defaultBranch = "main"
    description = "Pipeline to find structural matches between templates and protein structures"
    name = "Enzyme Motif Miner NF"
    nextflowVersion = ">=25.04.6"
    version = "0.0.2"
}

params {
    input                   = null
    batch_size              = 50000
    outdir                  = null

    verbose                 = true
    warn                    = false
    match_small_templates   = false
    skip_smaller_hits       = true
    skip_annotation         = false
    unfiltered              = false
    write_parquet           = true
    simple_results          = false
    per_residue_results     = true

    conservation_cutoff     = 70

    template_folder         = null   // filepath or null
    n_cpus                  = null   // number or null
    distance                = null
    rmsd                    = null
    max_dynamic_distance    = null
}

process {
    errorStrategy = { task.exitStatus in ((130..145) + 104 + 175) ? 'retry' : 'finish' }
    maxRetries    = 2
    maxErrors     = '-1'
}

profiles {

    local {
        process.executor = 'local'
        process.container = 'oras://ghcr.io/rayhackett/enzymm:latest'
        apptainer.enabled = true
        apptainer.cacheDir = '/exports/archive/lucid-grpzeller-primary/hackett/software/apptainer-cache'
        apptainer.autoMounts = true
    }

    cluster_lumc {
        process.executor = 'slurm'
        process.array = 100
        process.queue = 'all'
        process.container = 'oras://ghcr.io/rayhackett/enzymm:latest'
        apptainer.enabled = true
        apptainer.cacheDir = '/exports/archive/lucid-grpzeller-primary/hackett/software/apptainer-cache'
        apptainer.autoMounts = true
        process {
            withName: 'matching' {
                cpus   = 12
                memory = { 32.GB * task.attempt }
                time   = { 6.h * task.attempt }
            }
            withName: 'merge_parquet' {
                cpus   = 4
                memory = { 8.GB * task.attempt }
                time   = { 4.h * task.attempt }
            }
        }
    }
}
